.rectification-list-item {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: var(--spacing-xs) var(--spacing-s);
}

.rectification-list-item-title {
  grid-column: 1 / 8;
  grid-row: 2;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.rectification-list-item-date {
  grid-column: 1 / 14;
  grid-row: 1;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-black-60);
}

.rectification-list-item-status {
  grid-column: 8 / 10;
  grid-row: 2;
  display: flex;
  align-items: center;
}

.rectification-list-item-button {
  grid-column: 13 / 16;
  grid-row: 2;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  max-width: 200px;
  color: var(--color-info);
}

@media (max-width: 768px) {
  .rectification-list-item-title {
    grid-column: 1 / 16;
    grid-row: 2;
    white-space: pre-wrap;
    font-size: 18px;
  }

  .rectification-list-item-status {
    grid-column: 1 / 7;
    grid-row: 3;
  }

  .rectification-list-item-date {
    grid-column: 1 / 16;
    grid-row: 1;
  }

  .rectification-list-item-button {
    grid-column: 7 / 16;
    grid-row: 3;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .rectification-list-item-button {
    grid-column: 11 / 16;
    grid-row: 2;
  }
}

@media (min-width: 1248px) {
  .rectification-list-item-title,
  .rectification-list-item-status,
  .rectification-list-item-button {
    grid-row: 1;
  }

  .rectification-list-item-date {
    grid-column: 10 / 14;
    grid-row: 1;
  }
}
