.landing-page-link-list {
  display: flex;
  gap: var(--spacing-s);
  margin-bottom: var(--spacing-xl);
}

.landing-page-linkbox {
  flex: 1;
  background-color: var(--color-silver-medium-light);
}

.landing-page-linkbox div {
  background-color: var(--color-silver-medium-light);
  font-size: var(--fontsize-heading-m);
}

.rectification-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin-bottom: var(--spacing-s);
}

h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 32px;
}

@media (max-width: 768px) {
  .landing-page-link-list {
    flex-direction: column;
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
  }
}

@media (max-width: 990px) {
  .landing-page-link-list {
    gap: var(--spacing-xs);
  }

  .landing-page-linkbox div {
    font-size: var(--fontsize-body-l);
  }
}
