.rectification-details {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: var(--spacing-m) var(--spacing-s);
  margin: var(--spacing-s) 0;
}

.rectification-details-log {
  grid-column: 1 / 8;
  grid-row: 1;
  display: flex;
  gap: var(--spacing-xs);
}

.rectification-details-events,
.rectification-details-attachments {
  flex: 1;
  min-width: 200px;
}

.rectification-details-title {
  font-weight: 500 !important;
  font-size: 18px !important;
}

.rectification-details-events p,
.rectification-details-attachments p {
  font-size: 16px;
  margin: var(--spacing-xs) 0;
}

.rectification-details-attachments p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rectification-details-button-container {
  grid-column: 8 / 16;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  max-width: 400px;
  min-width: 200px;
}

#form-summary-dialog {
  width: 50%;
}

.form-summary-dialog-buttons {
  display: flex !important;
  justify-content: space-between;
  gap: var(--spacing-xs);
}

.form-summary-dialog-buttons button {
  height: 56px;
  margin: 0;
}

@media (max-width: 576px) {
  #form-summary-dialog {
    width: 95vw !important;
    height: 95vh !important;
  }
}

@media (max-width: 768px) {
  .rectification-details-button-container {
    max-width: 100%;
  }

  #form-summary-dialog > div {
    padding: var(--spacing-s);
  }
}

@media (max-width: 992px) {
  .rectification-details-button-container {
    grid-column: 1 / 16;
    grid-row: 1;
  }

  .rectification-details-log {
    grid-column: 1 / 16;
    grid-row: 2;
    flex-direction: column-reverse;
  }
}

@media (min-width: 577px) and (max-width: 1248px) {
  #form-summary-dialog {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .form-summary-dialog-buttons button {
    min-width: 150px;
  }
}

@media screen {
  #rectification-summary-print {
    display: none;
  }
}

/* set this element on top of everything else when printing,
  hiding other elements with 'display: none' or 'visibility: hidden'
  could disturb other print views so it's not done here */
@media print {
  #rectification-summary-print,
  #rectification-summary-print * {
    background: white;
    visibility: visible;
    z-index: 999;
  }
  #rectification-summary-print {
    background: white;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
  }
}
