.barcode-container {
  margin: 12px 0 24px;
}

.barcode-label {
  font-size: var(--fontsize-body-m);
  font-weight: 500;
}

.barcode {
  font-size: var(--fontsize-body-l);
  overflow-wrap: break-word;
}
