.button-container {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 96px;
  justify-content: flex-start;
  margin-top: 12px;
}

.button-container-submit {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 96px;
  justify-content: space-between;
  margin-top: 12px;
}

.submit-button {
  min-width: 137px;
}

.submit-notification {
  margin-bottom: 24px;
}

.wide-button {
  width: 100%;
}
