@media (max-width: 375px) {
  .form-title {
    hyphens: auto;
  }
}

@media (max-width: 767px) {
  .form-title {
    font-size: 32px;
    font-weight: normal;
    line-height: 32px;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 12px;
  }

  .button {
    max-width: 500px;
  }

  .button.back {
    margin-top: var(--spacing-xs);
  }
}

@media (min-width: 768px) {
  .stepper {
    transform: translateX(-36px);
  }

  .form-title {
    font-size: 48px;
    font-weight: normal;
    line-height: 48px;
  }

  .button-container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    height: 96px;
    justify-content: flex-start;
    margin-top: 12px;
  }
  .button-container.submit {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    height: 96px;
    justify-content: space-between;
    margin-top: 12px;
  }

}

.button.submit {
  min-width: 137px;
}

.submit-notification {
  margin-bottom: 24px;
  z-index: 100;
}

.button.back {
  width: 100%;
}
