.form-container {
  padding: 4px 0 12px;
}

.form-body {
  margin-top: var(--spacing-xl);
}

@media (max-width: 767px) {
  .button.print {
    margin-bottom: var(--spacing-xs);
  }
}

@media (min-width: 768px) {
  .button.print {
    margin-right: var(--spacing-m);
  }
}
