.info-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 12px 12px;
  margin-top: 24px;
}

.barcode-container {
  margin: 12px 0 24px;
}

.email-notification {
  margin: 24px 0 12px;
}
