.info-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 12px 12px;
  margin-top: 24px;
}

.barcode-container {
  margin: 12px 0 24px;
}

.checkbox {
  margin-bottom: 12px;
}
