.rectification-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, auto);
  grid-gap: 24px;
}

.rectification-info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px 0 24px;
}

.rectification-user-section {
  flex: 1;
  min-width: 500px;
}

.rectification-textarea {
  grid-column: 2;
  grid-row: 1 / 7;
}

.rectification-textarea div:first-of-type,
.rectification-textarea textarea {
  height: 100% !important;
}

.rectification-subgrid {
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 12px;
}

.rectification-form-user-details {
  margin-top: 24px;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.rectification-fileinput {
  grid-column: 1 / 3;
}

.rectification-fileinput div:first-of-type {
  max-width: 100%;
}

.rectification-decision-choice {
  grid-row: 9;
}

.rectification-draft-button {
  margin: 36px 0 12px;
}

@media only screen and (max-width: 768px) {
  .rectification-form-user-details {
    grid-template-columns: 1fr 1fr;
  }

  .rectification-poa-fileinput {
    flex: 1;
    min-width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .rectification-form-user-details {
    grid-template-columns: 1fr 3fr;
  }

  .rectification-form-user-details.small {
    grid-template-columns: 1fr 1fr;
  }

  .rectification-poa-fileinput {
    flex: 1;
    margin-top: 5px;
    min-width: 450px;
  }
}

.small-text {
  font-size: var(--fontsize-body-m);
}
