.summary-container {
  display: grid;
  grid-template-columns: 510px auto auto;
  grid-auto-rows: auto;
  grid-gap: 12px 24px;
  margin-top: 50px;
}

.info-field {
  max-width: 384px;
  grid-row-end: auto;
}

.sum-field {
  grid-column-end: 2;
}

.wide-field {
  grid-column-start: 1;
  grid-column-end: span 2;
}

textarea {
  resize: none !important;
}

.vehicle-details-container {
  grid-column-start: 3;
  grid-row: span 13;
}

.vehicle-details-header {
  font-weight: normal;
  margin-bottom: 2rem;
}

hr {
  border: 1px solid var(--color-black-20);
  width: 100%;
  margin-right: 24px;
  grid-column-start: 1;
  grid-column-end: span 2;
}
