.summary-body {
  flex: 2 1;
  max-width: 100%;
}

.info-field {
  max-width: 384px;
  grid-row-end: auto;
}

@media (max-width: 767px) {
  .info-field {
    margin: var(--spacing-m) 0;
  }
  .wide-field {
    margin: var(--spacing-m) 0;
  }
}

.sum-field {
  grid-column-end: 2;
}

.wide-field {
  grid-column-start: 1;
  grid-column-end: span 2;
}

textarea {
  resize: none !important;
}
