.imageViewer-preview-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: var(--spacing-s);
}

.imageViewer-dialog {
  height: 95vh !important;
  width: 95vw !important;
}

.imageViewer-dialog div:nth-child(2) {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  overflow-y: auto;
}

.imageViewer-button-container {
  justify-content: center;
}

.imageViewer-dialog-image {
  overflow: auto;
}

.imageViewer-preview-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.imageViewer-dialog-text {
  display: block;
  align-self: center;
}

@media (max-width: 576px) {
  .imageViewer-button-container {
    max-height: 3vh !important;
    width: 90%;
    align-self: center;
    overflow: hidden;
    margin-bottom: var(--spacing-xs);
    text-align: center;
  }

  .imageViewer-dialog > div {
    padding: var(--spacing-xs) !important;
  }

  .imageViewer-dialog div:nth-child(2) {
    width: 90%;
    display: inline-block;
    padding: 0 !important;
  }

  .imageViewer-dialog-image {
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .imageViewer-dialog > div {
    padding: var(--spacing-s);
  }

  .imageViewer-button-container {
    display: flex;
    gap: var(--spacing-xs);
    padding-top: 0 !important;
    font-size: var(--);
  }

  .imageViewer-button-next {
    margin-top: 0;
  }
}

@media print {
  .imageViewer-preview-image {
    width: 130px !important;
    height: 130px !important;
  }
}
