.rectification-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, auto);
  grid-gap: 24px;
}

.rectification-info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px 0 24px;
}

.rectification-user-section {
  flex: 1;
}

.rectification-textarea {
  grid-column: 2;
  grid-row: 1 / 7;
}

.rectification-textarea div:first-of-type,
.rectification-textarea textarea {
  height: 100% !important;
}

.rectification-subgrid {
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 12px;
}

.rectification-form-user-details {
  display: inline-flex;
  flex-direction: column;
  margin-top: 2rem;
  min-width: 200px;
  max-width: 400px;
}

.rectification-form-user-details div {
  display: flex;
  justify-content: space-between;
}

.rectification-form-user-details p {
  overflow-wrap: break-word;
  margin-bottom: var(--spacing-m);
}

.rectification-fileinput div:first-of-type {
  max-width: 100%;
}

.rectification-delivery-decision {
  grid-row: 8;
}

.rectification-draft-button {
  margin: 36px 0 12px;
}

.rectification-link-to-profile {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-m);
}

.rectification-link-to-profile svg {
  margin-right: var(--spacing-xs);
}

@media only screen and (max-width: 768px) {
  .rectification-form-container {
    display: flex;
    flex-direction: column;
  }

  .rectification-textarea {
    height: 50vh;
    margin-bottom: var(--spacing-2-xl);
  }

  .rectification-poa-fileinput {
    flex: 1;
    min-width: 300px;
  }

  .rectification-link-to-profile {
    display: block;
  }

  .rectification-link-to-profile span {
    display: inline-block;
    width: 70%;
  }

  .rectification-link-to-profile a {
    display: block;
    margin-top: var(--spacing-s);
    margin-left: var(--spacing-layout-s);
    font-size: var(--fontsize-body-m);
  }
}

@media only screen and (min-width: 768px) {
  .rectification-poa-fileinput {
    flex: 1;
    margin-top: 5px;
    min-width: 450px;
  }
}

.radio-group-section .field-label {
  margin-bottom: var(--spacing-s);
}

.radio-group-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.radio-group-container label {
  font-weight: normal;
}

.small-text {
  font-size: var(--fontsize-body-m);
}

@media (max-width: 450px) {
  .rectification-form-user-details {
    max-width: 90vw;
  }
}
